.catalog {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  margin-top: 3%;
  margin-left: 6%;
  gap: 15px;
}

.catProd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 80%;
}

.prods {
  display: flex;
  flex-direction: column;
}

.catFit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.buttonNext {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  margin-left: 50%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e53935;
  color: #fafbfb;
}

.buttonNext:hover {
  background-color: #2c2062;
}

.cattext {
  margin-left: 15%;
  color: rgba(68, 75, 88, 1);
}

@media (max-width: 1024px) {
  .catalog {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 5%;
  }

  .catProd {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%; 
  }

  .catFit {
    margin-left: 5%;
    width: 70%;
    height: auto; 
  }

  .buttonNext {
    margin-left: 0;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .catalog {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
  }

  .catProd {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
  }

  .buttonNext {
    margin-left: 0;
    width: fit-content;
  }
}


@media (max-width: 480px) {
  .catalog {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 5%;
  }

  .catProd {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
  }

  .catFit {
    height: auto;
  }

  .buttonNext {
    margin-top: 5%;
    padding: 8px 12px;
  }

  .cattext {
    text-align: center;
    font-size: 14px;
  }
}
