.catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 3% 10%;
  gap: 15px;

}

.catProd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 20px;
  justify-content: center;
 
}

.prods {
  display: flex;
  flex-direction: column;
 

}

.catFit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.buttonNext {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  margin-left: 50%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e53935;
  color: #fafbfb;
}

.buttonNext:hover {
  background-color: #2c2062;
}

.cattext {
  margin-left: 15%;
  color: rgba(68, 75, 88, 1);
}
@media (max-width: 1240px) {
  .catalog {
    margin:0 7%;
    gap: 10px;
    width: 100%;
  }
  .catProd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'prods prods ';
    gap: 10px;
  
  }
  .prods {
    overflow: hidden;
    box-sizing: border-box;
  }
  .buttonNext {
    margin-left: 45%;
  }
  .cattext {
    margin-left: 10%;
  }
  .catFit {
    width: 100%;
    height: 100vh;
  }
}


@media (max-width: 1024px) {
  .catalog {
   
    gap: 10px;
  }
  .catProd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'prods prods ';
    gap: 10px;
    width: 100%;
  }
  .prods {
    overflow: hidden;
    box-sizing: border-box;
  }
  .buttonNext {
    margin-left: 45%;
  }
  .cattext {
    margin-left: 10%;
  }
  .catFit {
    width: 50%;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: 1fr;
  }
  .catFit {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
  }
  .catProd {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'prods prods ';
  
  }
  .prods {
    overflow: hidden;
    box-sizing: border-box;
  }
  .buttonNext {
    margin-left: 5%;
    align-self: center;
  }
  .cattext {
   text-align: left;
  }
}

@media (max-width: 480px) {
  .catalog {
    margin: 5%;
    gap: 5px;
  }
  .catProd {
    grid-template-columns: 1fr;
    grid-template-areas: 'prods';
    gap: 5px;
    width: 100%;
  }
  .prods {
    overflow: hidden;
    box-sizing: border-box;
    margin:0 3%;

  }
  .buttonNext {
    padding: 8px 12px;
    font-size: 14px;
  }
  .cattext {
    margin-left: 7%;
    font-size: 14px;
  }
}
