.quiz-section {
    background: #fdf2ec;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .quiz-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    color: #434141;
  }
  
  .quiz-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    color: #666;
  }
  
  .quiz-question {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .quiz-options,
  .quiz-sizes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  .imgRect{
    width: 100%;
    height: 20vh;
  }
  .quiz-option {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s;
    padding: 10px;
  }
  
  .quiz-option:hover {
    border-color: #ff9f43;
  }
  
  .quiz-option.selected {
    border-color: #ff6f00;
  }
  
  .quiz-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .quiz-size label {
    display: block;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .quiz-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 35vh;
    padding: 10px;
    background-color: rgba(219, 187, 169, 1);

  }
  .quiz-h2,
    .quiz-p{
  color: rgba(255, 255, 255, 1) ;
  }

   .quiz-size input {
    accent-color: rgb(227, 210, 200);
  } 
  
  .quiz-size input:checked + label {
    border-color: #ff6f00;
  }
  
  .quiz-textarea {
    width: 50%;
    height: 25vh;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: rgb(201, 181, 169);
  }
  
  .quiz-input {
    width: 80%;
    height: 7vh;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    
  }
  
  .quiz-submit-button {
    background: #ff6f00;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 10px;
  }
  
  .quiz-submit-button:hover {
    background: #ff9f43;
  }
  
  .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quiz-progress {
    font-size: 14px;
    color: #666;
  }
  
  .quiz-next-button {
    background: #ff6f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .quiz-next-button:hover {
    background: #ff9f43;
  }
  
  .quiz-next-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  