.Forma {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3% 15%;
  gap: 15px;
  justify-content: space-between;
  width: 70%;
}
.textForm{
  color: #fff;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  background: rgba(72, 66, 131, 1);
  padding: 5%;
  margin: 3%;
}

.inputForma {
  margin: 15px;
  width: 90%;
  height: 5vh;
}

.buttonFor {
  background-color: #ff5e57;
  color: #fff;
  text-align: center;
  align-items: center;
  margin: 35px 15px;
  padding: 15px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: 300px;
  z-index: 100;
}

.buttonFor:hover {
  background-color: #e04d47;
}

.dog {
  width: 50px;
  height: 20vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr 2fr 1fr);
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-container img:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.grid-container img:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.grid-container img:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / 4;
}

.grid-container img:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}

.grid-container img:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

.grid-container img:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
}

/* Media Queries */

@media (max-width: 1024px) {
  .Forma {
    flex-direction: column;
    margin: 5% 10%;
    gap: 20px;
    width: 90%;
  }

  .Form {
    padding: 10%;
  }

  .buttonFor {
    width: 250px;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .Forma {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 5% 5%;
  }

  /* .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  } */

  .grid-container img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .Forma {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 5% 2%;
  }

  .inputForma {
    width: 100%;
  }

  .buttonFor {
    width: 200px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }

  .grid-container img {
    grid-column: auto;
    grid-row: auto;
  }
}
