.card {
  width: 300px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: #fff;

}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  margin: 8px 0;
}

.price {
  color: #383838;
  font-weight: bold;
  margin: 8px 0;
}

.card {
  position: relative;
}

.options {
  position: absolute;
  top: 7px;
  margin-left: 30%;
  display: flex;
  gap: 25px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.card:hover .options {
  opacity: 1;
  pointer-events: auto;
}

.add {
  margin-top: 95px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  background-color: #3d3d3d93;
  border: 1px solid rgba(255, 250, 240, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 1240px) {
  .card {
    width: 250px;
  }

  .image {
    height: 120px;
  }

  .name {
    font-size: 16px;
  }

  .price {
    font-size: 14px;
  }

  .options {
    margin-left: 20%;
  }
}


@media (max-width: 1024px) {
  .card {
    width: 200px;
  }

  .image {
    height: 120px;
  }

  .name {
    font-size: 16px;
  }

  .price {
    font-size: 14px;
  }

  .options {
    margin-left: 20%;
  }
}


@media (max-width: 768px) {
  .card {
    width: 200px;
  }

  .image {
    height: 100px;
  }

  .name {
    font-size: 14px;
  }

  .price {
    font-size: 12px;
  }

  .options {
    gap: 15px;
    margin-left: 10%;
  }

  .add {
    margin-top: 80px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 250px;
  }

  .image {
    height: 150px;
  }

  .name {
    font-size: 14px;
  }

  .price {
    font-size: 12px;
  }

  .options {
    gap: 15px;
    margin-left: 10%;
  }

  .add {
    margin-top: 80px;
    padding: 8px;
  }
}
