.aboutContainer {
    display: flex;
    flex-direction: row;
    gap: 10%;
    background: rgba(72, 66, 131, 1);
    width: auto;
    height: 40vh;
}

.cont {
    margin-top: 3%;
    width: 25%;
    color: #f7f5f5;
}

.imgAbout {
    object-fit: cover;
    height: auto;
}

article {
    margin-left: 70%;
    font-size: 18px;
}

/* Медиа-запрос для экранов шириной до 1024px (планшеты) */
@media (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        gap: 5%;
        height: auto;
        align-items: center;
    }

    .cont {
        width: 80%;
        text-align: center;
    }

    article {
        margin-left: 0;
        width: 90%;
        font-size: 16px;
    }
}

/* Медиа-запрос для экранов шириной до 768px (мобильные устройства) */
@media (max-width: 768px) {
    .aboutContainer {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 10px;
    }

    .cont {
        width: 100%;
        text-align: center;
    }

    .imgAbout {
        width: 100%;
        height: auto;
    }

    article {
        margin-left: 0;
        width: 100%;
        font-size: 14px;
    }
}
