.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff3f0;
  padding: 50px;
  border-radius: 5px;
  width: 50%;
  height: 70%;
  overflow: hidden;
}
.title{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.FittextH{
  font-size: 21px;
  color: rgba(68, 75, 88, 1);
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
}

.sect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.checkbox {
  accent-color: rgb(227, 210, 200);
  background-color: #b9a6a4;
  border:1px solid #b9a6a4;
  width: 50px;
}

.sizeButtom {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid rgb(248, 233, 224);
  background-color: rgba(255, 244, 238, 1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.sizeButton {
  background-color: rgba(255, 244, 238, 1);
  border: 1px solid rgb(222, 206, 198);
  padding: 10px;
}

.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  
}

.buttonFilt {
  width: 250px;
  margin: 15% 15%;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #505051;
  background-color: rgb(207, 198, 194);
}

.buttonFilt:hover {
  background-color: #505051;
  color: rgb(247, 249, 250);
}

.sizeButton.active {
  background-color: #b9a6a4;
  color: white;
  border-color: #a19391;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px;
}

.sizes {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

.section-col {
  display: flex;
  flex-direction: column;
}

.minPrice {
  width: 100px;
  padding: 10px 10px;
  border-radius: 10px 0 0 0;
  border: 2px solid rgb(222, 206, 198);
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
}

.maxPrice {
  width: 100px;
  padding: 10px 10px;
  border-radius: 0 10px 0 0;
  border: 2px solid rgb(222, 206, 198);
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  -o-border-radius: 0 10px 0 0;
}
 
.nouislider {
   width: 100%;
   max-width: 550px;
   margin: 0 auto;
   position: relative;
   box-sizing: border-box;
 
 }
.minmax {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Fittext {
  font-size: 16px;
  color: rgba(68, 75, 88, 1);
}


@media (max-width: 1024px) {
  .filter {
    width:auto;
    height: auto;
    padding: 30px;
   
  }
  .minmax {
    width: 100%;
  }
  .sect {
    grid-template-columns: 1fr 1fr;
  }

  .sizes {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .priceRange{
    width: 100%;
  }
  .minPrice{
    width: 50%;
  }
  .maxPrice{
    width: 50%;
  }
  .buttons {
    margin: 30px;
  }
  .nouislider {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .filter {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .minmax {
    width: 100%;
  }
  .sect {
    grid-template-columns: 1fr;
  }

  .sizes {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .buttons {
    margin: 20px;
  }

  .buttonFilt {
    width: 100%;
    margin: 10% 0;
  }
}
@media (max-width: 480px) {
  .filter {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
}

 
 
 
 
 