/* Стили для дорожки слайдера */
.noUi-target {
  background: #f5f5f5; /* Цвет фона дорожки */
  border: 1px solid #ccc; /* Рамка */
  height: 5px; /* Высота дорожки */
}

/* Активная (заполненная) часть дорожки */
.noUi-connect {
  background: #b9a6a4;
  /*Цветактивнойчасти*/
}

/* Ползунки */
.noUi-handle {
  display: none;
}

/* При наведении */
.noUi-handle:hover {
  background: #555;
}

/* Активный ползунок при фокусе */
.noUi-handle:focus {
  outline: none;
  box-shadow: 0 0 10px #5b5b5b;
}

/* Отображение шкалы (если включена) */
.noUi-horizontal .noUi-ticks {
  height: 8px;
  background: #ddd;
}
