.contact {
    background-color: rgb(214, 216, 217);
    margin-top: 3%;
    margin-bottom: 3%;
    height: 80vh;
    width: auto;
}

.ContactAddress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    margin-left: 25%;
}

.conth2 {
    font-family: Intro Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(68, 75, 88, 1);
}

.conth4 {
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.08em;
    text-align: left;
    color: rgba(178, 181, 187, 1);
}

.cont_tel {
    font-family: Intro Regular;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    text-decoration: none;
    color: rgba(68, 75, 88, 1);
}

.cont_a {
    font-family: Intro Book;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-decoration: none;
    color: rgba(68, 75, 88, 1);
}

.social {
    display: flex;
    flex-direction: row;
    width: 35%;
    margin: 5%;
    justify-content: space-between;
}

.vk {
    width: 60px;
    height: 60px;
    background-image: url('/src/icon/VK.png');
    background-repeat: no-repeat;
}

.innst {
    width: 60px;
    height: 60px;
    background-image: url('/src/icon/Instagram.png');
    background-repeat: no-repeat;
}

.ContMap {
    width: 35%;
    height: auto;
    margin: 5% 10%;
    object-fit: cover;
}

.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon {
    font-size: 18px;
    color: #333;
    background-color: #f3f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.speech-bubble {
    position: absolute;
    top: -80px;
    left: -10px;
    width: 300px;
    padding: 10px;
    background-color: #faf8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    display: none;
    z-index: 1000;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.icon-container:hover .speech-bubble {
    display: block;
}

/* Медиа-запрос для экранов шириной до 1024px (планшеты) */
@media (max-width: 1024px) {
  .ContactAddress {
    flex-direction: column;
    margin-left: 10%;
    gap: 5%;
  }

  .ContMap {
    width: 80%;
    margin: 5% auto;
  }

  .social {
    width: 50%;
    margin: 10% auto;
  }

  .conth2 {
    font-size: 24px;
  }

  .conth4 {
    font-size: 12px;
  }
}

/* Медиа-запрос для экранов шириной до 768px (мобильные устройства) */
@media (max-width: 768px) {
    .contact {
     height:auto;
     width: auto;
    }
  .ContactAddress {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  .ContMap {
    width: 100%;
    margin: 5% 3%;
  }

  .social {
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
  }

  .vk, .innst {
    width: 50px;
    height: 50px;
  }

  .conth2 {
    font-size: 20px;
    text-align: center;
  }

  .conth4 {
    font-size: 10px;
    text-align: center;
  }

  .cont_tel {
    font-size: 20px;
    text-align: center;
  }

  .cont_a {
    font-size: 16px;
    text-align: center;
  }
}
