.ContComand {
    margin-top: 3%;
    padding-top: 5%;
    width: 100%;
    background: rgba(72, 66, 131, 1);
    background-image: url('../../../src/image/Group 72.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}

.teamCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 15%;
    gap: 10px;
}

/* Медиа-запрос для экранов шириной до 1024px (планшеты) */
@media (max-width: 1024px) {
    .ContComand {
        margin-top: 5%;
        padding-top: 8%;
        background-position-y: top;
    }

    .teamCards {
        grid-template-columns: 1fr 1fr;
        margin: 0 10%;
        gap: 10px;
    }
}

/* Медиа-запрос для экранов шириной до 768px (мобильные устройства) */
@media (max-width: 768px) {
    .ContComand {
        margin-top: 8%;
        padding-top: 10%;
        background-position: center;
        background-size: cover;
    }

    .teamCards {
        grid-template-columns: 1fr;
        margin: 5% 15%;
        gap: 10px;
    }
}
@media (max-width: 480px) {
   
    .teamCards {
        grid-template-columns: 1fr;
        margin: 5% 5%;
        gap: 10px;
    }
}