.ContComand{
    margin-top: 3%;
    width: 100%;
    background: rgba(72, 66, 131, 1);
}
.imgComand{
   background-image: url('../../../src/image/Group 72.png');
   background-repeat: no-repeat;
   background-position: right;
   width: 100%;
}
.teamCards{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 5%;
}