.header {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 60vh;
  padding: 20px 40px;
  background-color: #3e2e87;
  color: #fff;

}

.topheader {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
}

hr {
  margin-top: 0;
  width: 80%;
}

.herosection {
  grid-row: 70%;
}
@media (max-width: 1024px) {
  .header {
   grid-template-columns:auto;
    height: 60vh; 
    padding: 15px 30px; 
  }

  .topheader {
    align-items: center;
    grid-template-rows: 1fr; 
  }

  hr {
    width: 90%; 
  }

  .herosection {
    grid-row: auto; 
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-rows: auto auto; 
    height: auto; 
    padding: 10px 20px; 
  }

  .topheader {
    display: block; 
  }

  hr {
    width: 100%; 
  }

  .herosection {
    margin-top: 20px; 
    text-align: center; 
  }
}


@media (max-width: 480px) {
  .header {
    grid-template-rows: auto auto; 
    height: auto; 
    padding: 10px 20px; 
  }

  .topheader {
    display: block; 
  }

  hr {
    width: 90%; 
  }

  .herosection {
    margin-top: 20px; 
    text-align: center; 
  }
}
