.header {
  width: auto;
  height: 50vh;
  padding: 20px 40px;
  background-color: #3e2e87;
  color: #fff;
}

.topheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .header {
    height: 80vh;
    padding: 15px 30px;
  }
  .topheader {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    height: 75vh;
    padding: 10px 20px;
  }
  .topheader {
    flex-direction: column;
    gap: 10px;
  }
  .cart {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 75vh;
    padding: 5px 10px;
  }
  .topheader {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .cart {
    font-size: 12px;
  }
}
