footer{
    width: auto;
    padding: 20px 40px;
    background-color: rgba(68, 75, 88, 1);
    color: #f6f5f5;
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}