.text {
    align-items: center;
    font-family: Intro Bold;
    font-size: 150px;
    font-weight: 700;
    line-height: 150px;
    text-align: left;
    margin: 2% 15%;
    color: rgba(244, 247, 249, 0.408);
  }
  
  @media (max-width: 1024px) {
    .text {
      font-size: 100px;
      font-weight: 400;
      line-height: 120px;
      margin: 2% 10%;
    }
  }
  
  @media (max-width: 768px) {
    .text {
      font-size: 70px;
      font-weight: 300;
      line-height: 90px;
      margin: 2% 5%;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .text {
      font-size: 10px;
      font-weight: 200;
      line-height: 20px;
      margin: 5% 2%;
      text-align: center;
    }
  }
  